.crear-vivienda {
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(22, 22, 22);
  border-radius: 1rem;
}

.crear-vivienda .btn-crear {
  width: 100%;
}

.crear-vivienda .btn-crear button {
  width: 100%;
  height: 30px;
  background-color: rgb(37, 37, 37);
  font-family: var(--fuente);
  font-size: large;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
  color: var(--font-color);
}

.crear-vivienda .btn-crear button:hover {
  background-color: rgb(22, 20, 20);
}

.crear-vivienda .btn-crear button:disabled {
  background-color: rgb(37, 37, 37);
  color: rgb(128, 127, 127);
}
