.container {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.informacion-vivienda {
  /* background-color: brown; */
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.informacion-vivienda .btn-crear {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.informacion-vivienda app-crear-vivienda {
  height: 85% !important;
}

.informacion-vivienda app-info-vivienda {
  height: 85% !important;
}

.informacion-vivienda .btn-crear button {
  display: flex;
  height: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 0.5rem;
  font-family: var(--fuente);
  border: 0px solid;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.informacion-vivienda .btn-crear button:hover {
  background-color: rgb(22, 20, 20);
}

.informacion-vivienda .btn-crear .btn-empaquetar {
  background-color: rgb(73, 2, 2);
}

.informacion-vivienda .btn-crear .btn-empaquetar:hover {
  background-color: rgb(43, 0, 0);
}
