<main class="container">
  <section class="lista-viviendas">
    <app-lista-viviendas></app-lista-viviendas>
  </section>
  <section class="informacion-vivienda">
    <article class="btn-crear">
      <button class="btn-empaquetar" (click)="empaquetarArchivos()">
        Empaquetar archivos
      </button>
      <button (click)="setVista('CREAR')">Agregar Vivienda</button>
    </article>
    <app-crear-vivienda
      [style]="{ heigth: '85%' }"
      *ngIf="vista === 'CREAR'"
    ></app-crear-vivienda>
    <app-info-vivienda
      style="heigth: 85%"
      *ngIf="vista === 'VER'"
    ></app-info-vivienda>
  </section>
</main>
